<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" >
    <title>Ligne Divisée</title>
</head>
<body>
    <div class="ligne">
        <div class="bleu"></div>
        <div class="bleu-clair"></div>
        <div class="gris"></div>
        <div class="marron"></div>
    </div>
    <div>
      <div class="contact-container">
        <img class="contact-icon" src="https://img.icons8.com/parakeet-line/48/chat.png" alt="Contact"/>
        <span class="contact-text">Contact</span>
    </div>
    </div>
    
  
  
  </body>

</html>
