#b1 {
  position: relative;
  left: 60%;
  align-items: center;
  background-color: #29366f;
  border: 2px solid #29366f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  width: 15%;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-58:focus {
  color: #171e29;
}

.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-58:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}

/* Navigation Bar Styles */
.ligne {
  display: flex;
  height: 8px;
}

.bleu {
  flex: 5;
  background-color: #256bb0;
}

.bleu-clair {
  flex: 2.5;
  background-color: #29366f;
}

.gris {
  flex: 1.5;
  background-color: #7e7e73;
}

.marron {
  flex: 1;
  background-color: #89654e;
}

#b2 {
  position: relative;
  left: 60%;
  background-color: #7e7e73;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  width: 15%;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 15%;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#b2:hover {
  background-color: #7e7e73;
}

#b2:active {
  background-color: #7e7e73;
}

/* Logo Styles */
.logo {
  display: block;
  width: 200px;
  height: 110px;
  background-image: url('/assets/Logo.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 40px;
  top: 60px;
  z-index: 1000;
}

/* Header Row Styles */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
}

/* Column Styles */
.col2 {
  display: flex;
  align-items: center;
  margin-left: 50%;
  margin-top: 50px;
}

.bi-chat {
  position: relative;
  width: 30px;
  height: 30px;
  fill: #333;
  top: 5px;

}

#contact {
  margin-left: 10px;
  font-size: 16px;
  position: relative;
  color: #29366f;
  top: 15px;
}
.col3{
  display: flex;
  align-items: center;
  position: relative;
  left: 60%;
  margin-top: -30px;
}
.col4{
  display: flex;
  align-items: center;
  position: relative;
  left: 80%;
  margin-top: -30px;

}
.input {
  width: 20%;
  height: 30px;
  line-height: 28px;
  padding-left: 2.5rem;
  border-radius: 8px;
  background-color: #ffffff;
  color: #29366f;
}

.icon {
  position: relative;left: 25px;
  fill: #030304;
  width: 1rem;
  height: 1rem;
}


.bi.bi-list {
  position: relative;
  right: -30px;
  width: 100px;
  /* Adjusted width */
  height: 100px;
  /* Adjusted height */
}


#p2 {
  position: relative;
  right: 50px;
  font-size: 20px;top: -30px;
}